<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Components demo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">Components Demo</h1>
      <!-- TODO: live-code your components -->
      <h2>Avatars</h2>
      <img class="avatar" src="images/jad.png" alt="avatar">
      <img class="avatar_big" src="images/jad.png" alt="avatar">
      <h2>Buttons</h2>
      <a class="btn_twitter" href="#">Button</a>
      <a class="btn_medium" href="#">Button</a>
      <h2>Banner</h2>
      <div class="banner">
        <div class="banner_content">
          <h1>Le Wagon</h1>
          <p>Learning how to code</p>
          <a class="btn_medium light" href="#">More Info</a>
        </div>
      </div>
    </div>
  </body>

</html>
